<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Formulario de registro de carros</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="main-container">
      <h1>Cadastro de carros importados</h1>
      <form id="register-form" action="/" method="POST">       
        <div class="half-box spacing">
            <label for="nome">Nome</label>
            <input type="text" name="nome" placeholder="Digite o nome do carro" data-required data-min-length="3" data-max-length="16">
        </div>
        <div class="half-box">
            <label for="tipo">Tipo</label>
            <input type="text" name="tipo" placeholder="Digite o tipo do carro" data-required data-only-letters>
        </div>
        <div class="full-box">
          <label for="desc">Descrição</label>
          <input type="text" name="desc" placeholder="Digite a descrição do carro" data-min-length="2" data-email-validate>
        </div>
        
        <div class="full-box">
          <button class="button">Cadastrar</button>
        </div>
      </form>
      <div class="full-box">
        <a href="/">
          <button class="button">Visualizar Carros</button>
        </a>
      </div>
  <p class="error-validation template"></p>
  <script src="js/scripts.js"></script>
</body>
</html>